<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zj.mapper.ArticleMapper">
    <select id="findAll" resultType="cn.zj.entity.Article">
        SELECT * FROM tb_article WHERE state = 'published' ORDER BY id DESC
    </select>

    <select id="findAllCount" resultType="java.lang.Long">
        SELECT COUNT(tb_article.id) article_count FROM tb_article
    </select>

    <select id="findByPage" resultType="cn.zj.entity.Article" parameterType="cn.zj.entity.Article">
        SELECT * FROM tb_article
        <where>
            <if test="author!=null">author LIKE CONCAT('%', #{author}, '%')</if>
        </where>
    </select>

    <select id="findByPageForSite" resultType="cn.zj.entity.Article" parameterType="cn.zj.entity.Article">
        SELECT * FROM tb_article
        WHERE 1=1
        ORDER BY id DESC
    </select>

    <select id="findById" resultType="cn.zj.entity.Article" parameterType="java.lang.Long">
        SELECT * FROM tb_article WHERE id = #{id}
    </select>

    <insert id="add" parameterType="cn.zj.entity.Article" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO tb_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            author, state, publish_time, edit_time, create_time,
            <if test="title!=null">title,</if>
            <if test="title_pic!=null">title_pic,</if>
            <if test="content!=null">content,</if>
            <if test="leave_message!=null">leave_message,</if>
            <if test="origin!=null">origin,</if>
            <if test="eye_count!=null">eye_count,</if>
            <if test="content_short!=null">content_short</if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            #{author}, #{state}, #{publish_time}, #{edit_time}, #{create_time},
            <if test="title!=null">#{title},</if>
            <if test="title_pic!=null">#{title_pic},</if>
            <if test="content!=null">#{content},</if>
            <if test="leave_message!=null">#{leave_message},</if>
            <if test="origin!=null">#{origin},</if>
            <if test="eye_count!=null">#{eye_count},</if>
            <if test="content_short!=null">#{content_short}</if>
        </trim>
    </insert>

    <update id="update" parameterType="cn.zj.entity.Article">
        UPDATE tb_article
        <set>
            <trim suffixOverrides=",">
                <if test="title!=null">title=#{title},</if>
                <if test="title_pic!=null">title_pic=#{title_pic},</if>
                <if test="author!=null">author=#{author},</if>
                <if test="content!=null">content=#{content},</if>
                <if test="leave_message!=null">leave_message=#{leave_message},</if>
                <if test="origin!=null">origin=#{origin},</if>
                <if test="state!=null">state=#{state},</if>
                <if test="eye_count!=null">eye_count=#{eye_count},</if>
                <if test="publish_time!=null">publish_time=#{publish_time},</if>
                <if test="edit_time!=null">edit_time=#{edit_time},</if>
                <if test="create_time!=null">create_time=#{create_time},</if>
                <if test="content_short!=null">content_short=#{content_short}</if>
            </trim>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM tb_article WHERE id = #{id}
    </delete>

    <select id="getLastId" resultType="java.lang.Long">
        SELECT id FROM tb_article ORDER BY id DESC LIMIT 1
    </select>

    <select id="findArchivesDates" resultType="java.lang.String">
        SELECT DISTINCT DATE_FORMAT(publish_time, '%Y-%m') `date` FROM tb_article
        WHERE publish_time > '2000-01-01' AND state = "published"  ORDER BY DATE_FORMAT(publish_time, '%Y-%m') DESC;
    </select>

    <select id="findArchivesByDate" resultType="cn.zj.entity.Article">
        SELECT * FROM tb_article WHERE publish_time LIKE CONCAT('%', #{date}, '%') AND state = "published"
    </select>

    <select id="findFuzzyByTitle" resultType="cn.zj.entity.Article">
        SELECT * FROM tb_article WHERE title LIKE CONCAT('%', #{title}, '%') AND state = "published" ORDER BY publish_time
    </select>

    <update id="addEyeCount" parameterType="java.lang.Long">
        UPDATE tb_article SET eye_count = (eye_count + 1) WHERE id = #{id}
    </update>

    <select id="findByCategory" resultType="cn.zj.entity.Article" parameterType="java.lang.String">
        SELECT a.id, a.title, a.title_pic, a.author, a.content, a.leave_message,
                a.origin, a.state, a.eye_count, a.publish_time, a.edit_time, a.create_time
        FROM tb_article a, tb_category c, tb_article_category ac
        WHERE a.id = ac.article_id AND c.id = ac.category_id
        AND state = "published"
        AND c.`name` LIKE CONCAT('%',#{category},'%')
    </select>

    <select id="findAllEyeCount" resultType="java.lang.Long">
        SELECT SUM(eye_count) eye_count_sum FROM tb_article
    </select>
</mapper>