<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zj.mapper.CommentsMapper">
    <select id="findAllCount" resultType="java.lang.Long">
        SELECT count(*) FROM tb_comments
    </select>

    <select id="findAll" resultType="cn.zj.entity.Comments">
        SELECT * FROM tb_comments WHERE tb_comments.state != 'deleted' ORDER BY `time` DESC
    </select>

    <select id="findByPage" resultType="cn.zj.entity.Comments" parameterType="cn.zj.entity.Comments">
        SELECT * FROM tb_comments WHERE 1=1
        <if test="author!=null">AND author LIKE CONCAT('%', #{author}, '%')</if>
    </select>

    <select id="findById" resultType="cn.zj.entity.Comments" parameterType="java.lang.Long">
        SELECT * FROM tb_comments WHERE id = #{id}
    </select>

    <select id="findCountByArticleId" resultType="java.lang.Long" parameterType="java.lang.Long">
        SELECT count(*) FROM tb_comments WHERE article_id = #{id}
    </select>

    <select id="findCommentsList" resultType="cn.zj.entity.Comments">
        SELECT * FROM tb_comments WHERE 1=1
        <if test="article_id!=null">AND article_id = #{article_id}</if>
        AND sort = #{sort}
    </select>

    <select id="findAllId" resultType="cn.zj.entity.Comments">
        SELECT * FROM tb_comments WHERE p_id = 0 AND c_id = 0
        <if test="article_id!=null">AND article_id=#{article_id}</if>
        AND sort = #{sort}
    </select>

    <insert id="add" parameterType="cn.zj.entity.Comments">
        INSERT INTO tb_comments (
          p_id, c_id, author_avatar, article_id, author, author_id, email, content,
          `time`, url, state, sort
        )VALUES (
          #{p_id}, #{c_id}, #{author_avatar}, #{article_id}, #{author}, #{author_id}, #{email}, #{content},
          #{time}, #{url}, #{state}, #{sort}
        )
    </insert>

    <update id="update" parameterType="cn.zj.entity.Comments">
        UPDATE tb_comments
        <set>
            <if test="p_id!=null">p_id=#{p_id},</if>
            <if test="c_id!=null">c_id=#{c_id},</if>
            <if test="author_avatar!=null">author_avatar=#{author_avatar},</if>
            <if test="article_id!=null">article_id=#{article_id},</if>
            <if test="author!=null">author=#{author},</if>
            <if test="author_id!=null">author_id=#{author_id},</if>
            <if test="email!=null">email=#{email},</if>
            <if test="content!=null">content=#{content},</if>
            <if test="time!=null">`time`=#{time},</if>
            <if test="url!=null">url=#{url},</if>
            <if test="state!=null">state=#{state},</if>
            <if test="sort!=null">sort=#{sort},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM tb_comments WHERE id = #{id}
    </delete>

    <select id="findByArticleId" resultType="cn.zj.entity.Comments" parameterType="java.lang.Long">
        SELECT tb_comments.id, tb_comments.author, tb_comments.content, tb_comments.time, tb_comments.author_avatar
        FROM tb_comments WHERE tb_comments.article_id = #{id} AND tb_comments.state = 'published'
        ORDER BY tb_comments.time DESC
    </select>

    <select id="findByRecent" resultType="cn.zj.entity.Comments">
        SELECT tb_comments.content, tb_comments.author, tb_comments.time
        FROM `tb_comments` ORDER BY tb_comments.time DESC LIMIT 0, 8
    </select>

    <update id="updateStatus" parameterType="cn.zj.entity.Comments">
        UPDATE tb_comments
         <set>
             state = #{state}
         </set>
        WHERE id = #{id}
    </update>
</mapper>